.Car-modal-center {
    width: min-content;
    display: flex;
    justify-content: center;
}

.Carousel {
    height: 100%;

    &>.OverImage {
        height: 100%;

        .Carousel-nav {
            display: flex;
            justify-content: space-between;

            &>* {
                display: flex;
                align-items: center;
                background-color: #ffffff00;
                border: none;
                -webkit-text-stroke: 1px black;
                color: white;
                font-size: 100px;
                cursor: pointer;
            }
        }

        div>* {
            background-color: #ffffff00;
            border: none;
            color: white;
        }

        .Carousel-nav-txt {
            -webkit-text-stroke: 1px black;
            text-align: center;

            @media screen and (max-width: 728px) {
                display: none;
            }

            &>p {
                font-size: 2em;
                margin-bottom: 1%;
            }
        }
    }
}